@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Pirata+One&family=Ubuntu&display=swap');

:root {
  --background: oklch(33% 0.015 252.31);
  --second-background: oklch(66.33% 0 0 / 30%);
  --main: oklch(100% 0 0);
  --second: oklch(66.33% 0 0);
  --special: oklch(55.38% 0.182 25.43);
  --black: oklch(0 0 0);

  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: oklch(100% 0 0 / 87%);
  background-color: oklch(33% 0.015 252.31);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100svh;
  overflow: hidden;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin: 0;
  font-size: 2.4em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
